# Configurações do MongoDB
SPRING_DATA_MONGODB_URI=mongodb+srv://<usuario>:<senha>@<cluster-url>/<nome-do-banco>?retryWrites=true&w=majority&appName=Cluster0

# Configurações do RabbitMQ
SPRING_RABBITMQ_ADDRESSES=amqps://<usuario>:<senha>@<rabbitmq-url>/<vhost>

# Configurações de e-mail
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=<seu-email@gmail.com>
SPRING_MAIL_PASSWORD=<sua-senha-de-aplicativo>

